body {
    font-family: Helvetica Neue, Helvetica;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
    padding: 10px;
    background-color: #eaeaff;
}

header {
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

main {
    font-size: 1.8em;
    font-weight: 200;
    margin-bottom: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 200;
    color: #333;
}

nav ul li a:hover {
    color: #58a6ff;
}

.profile-pic {
    border-radius: 50%;
    margin-top: 15px;
}

.project-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 15px auto;
}